/*----- TENIS ------*/
.container-maior{
    margin-top: 5%;
}

.container-geral{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 3%;
    margin-right: 2%;
    }
    
.container-geral img{
    width: 100%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.container-geral button{
    background-color: #84A1F0;
    color: #fff;
    font-size: 120%;
    font-weight: 500;
    border-radius: 0px;
    border: none;
    width: 80%;
}

.container-favorito{
    background-color: #E7E7E7;
    margin-inline-start: 3%;
    height: 100%;
    width: 50vh;
    text-align: center;
    padding-bottom: 3%;
}

.container-favorito h2{
    text-align: left;
    font-family: 'Inter';
    font-size: 130%;
    font-weight: 700;
    margin-top: -15%;
    margin-left: 10%;
    margin-bottom:-0.5%;
}

.container-favorito p{
    text-align: left;
    margin-left: 10%;
    font-family: 'K2D';
    font-weight: 600;
    font-size: 130%;
    margin-bottom: 15%;
}

/*----- TENIS ------*/

@media screen and (max-width: 768px){

    .container-maior{
        margin-top: 5%;
    }

    .container-geral{
        display: flex;
        flex-direction: column;
        margin-top: 3%;
        margin-right: 0;
        justify-content: center;
        align-items: center;
    }
        
    .container-geral img{
        position: relative;
        margin-top: -15%;
        width: 95%;
        height: auto;
        padding-left: 5%;
        padding-right: 5%;
        margin-bottom: 5%;
    }
    
    .container-geral button{
        background-color: #84A1F0;
        color: #fff;
        width: 80%;
        height: 30px;
        text-align: center;
        align-items: center;
        font-size: 120%;
        font-weight: 500;
        border-radius: 0px;
        border: none;
        padding-bottom: 3px;
        padding-top: 0;
        margin-bottom: 3%;
    }
    
    .container-favorito{
        background-color: #E7E7E7;
        margin-inline-start: 0%;
        height: 100%;
        width: 75vw;
        text-align: center;
        padding-bottom: 3%;
        margin-bottom: 10%;
    }
    
    .container-favorito h2{
        text-align: left;
        font-family: 'Inter';
        font-size: 100%;
        font-weight: 700;
        margin-top: -15%;
        margin-left: 5%;
        margin-bottom:-0.5%;
    }
    
    .container-favorito p{
        text-align: left;
        margin-left: 5%;
        font-family: 'K2D';
        font-weight: 600;
        font-size: 80%;
        margin-bottom: 8%;
    }


}