.navbar navbar-light {

    border-radius: 0px;
    background: #e0e0e0;
    box-shadow:  -26px 26px 52px #7b7b7b,
                 26px -26px 52px #ffffff;

    
}

.navbar{

background-color: #3D5885;
color: #e0e0e0;


}

