/*  Fonte: Inter  */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root{
    --color-01: #3D5885;
    --color-02: #84A1F0;
    --color-03: #FFF;
    --alert-color: #a11414;
}

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Inter', sans-serif;
}

body{
    padding: 0px 30px;
}

/*  
    Cabeçalho - LOGO e Cancelar  
*/

header{
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav{
    display: flex;
    align-items: center;
}

.logo{
    width: 80px;
}

#close{
    width: 35px;
}

.back{
    font-size: 18px;
    color: var(--alert-color);
    text-decoration: none;
}

/*
#alert{

    z-index: 2;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
    background-color: #0000006c;
}

#alert-box{
    width: 600px;
    height: 60%;
    border-radius: 10px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-03);
}
*/

main{
    display: flex;
    justify-content: space-between;
}

.arrow{
    transform: rotate(90deg);
}

.top-box{
    display: flex;
    cursor: pointer;
    justify-content: space-between;
}

hr{
    margin: 20px 0px;
    background-color: var(--color-01);
}

.body-box{
    display: none;
}

/*
    Inserir Endereço
*/

.input-info{
    width: 60%;
}

.info-box{
    margin: 15px;
    padding: 20px;
    border: 1px solid var(--color-01);
    border-radius: 15px;
    color: var(--color-01);
}

.input-group{
    text-align: center;
    width: 100%;
}

.input-line{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.address-inp{
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--color-01);
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
}

.address-inp::placeholder{
    color: var(--color-01);
}

#name{
    width: 85%;
}

#cep{
    width: 75%;
}

#state, #city, #district, #street{
    width: 48%;
}

#n{
    width: 10%;
}

#complement{
    width: 85%;
}

.search-area{
    display: flex;
    align-items: center;
}

#search{
    cursor: pointer;
    padding: 3px;
    border-radius: 8px;
    background-color: var(--color-01);
}

/*
    Inserir Metodo de pagamento
*/

#debit-box, #pix-box, #boleto-box{
    display: none;
}

.btn{
    cursor: pointer;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    font-size: 18px;
    background-color: var(--color-01);
    border: none;
    border-radius: 10px;
    color: var(--color-03);
    font-weight: 500;
}

.btn-alt{
    background-color: transparent;
    border: 1px solid var(--color-01);
    color: var(--color-01);
}

.option-pay{
    padding-bottom: 20px;
    text-align: center;
    align-items: center;
}

.btn-pay{
    cursor: pointer;
    width: 80px;
    padding: 5px;
    margin: 3px;
    background-color: transparent;
    border:  2px solid transparent;
    color: var(--color-01);
    font-size: 18px;
}


#credit-btn{
    border-bottom: 2px solid var(--color-01);    
}

h2{
    padding: 20px;
    font-size: 18px;
}

.payment-methods{
    display: flex;
}

.help{
    width: 50%;
    text-align: center;
}

.card-input{
    margin: 5px;
    padding: 5px;
    border: 1px solid var(--color-01);
    border-radius: 8px;
    font-size: 18px;
    justify-content: center;
}

.card-input::placeholder{
    color: var(--color-01);
}

.card-name, .card-number{
    width: 100%;
}

.card-date{
    width: 70px;
}

.card-code{
    width: 55px;
}

.option-method{
    text-align: initial;
    width: 50%;
    text-align: center;
}

#card-img{
    width: 70%;
}

.code-txt{
    width: 90%;
    margin: 10px;
    padding: 5px;
    border: 1px solid var(--color-01);
    border-radius: 10px;
}

#qrcode{
    width: 50%;
}

.boleto{
    display: block;
    margin: auto;
    width: 60%;
    text-align: center;
}

/*
    Resumo do pedido
*/


.check{
    width: 40%;   
}

.checkout-info{
    display: flex;
    justify-content: space-between;
}

p{
    font-size: 18px;
}


@media all and (max-width: 900px){
    main{
        display: block;
    } 
    
    .input-info{
        width: 100%;
    }
    
    .check{
        width: 100%;
    }
}

@media all and (max-width: 500px){

}